html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section{
    min-height: 100vh;
    padding: 1em 1em 1em 8em;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h3{
    margin-top: 0;
}

html{
    scroll-behavior: smooth;
}

nav a{
    display: block;
    padding: .5em .2em;
    background-color: darkcyan;
    color: lightgrey;
    text-decoration: none;
    margin: .2em 0;
    border-left: 5px solid whitesmoke;
    border-radius: 0 3em 3em 0;
}

nav :active{
    width: 9em;
}

nav :hover{

}

a{
    font-style: italic;
}

nav{
    position: fixed;
    width: 8em;
    height: 100vh;
    display: grid;
    align-content: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#rood{
    background-color: red;
    color: whitesmoke;
}

#blauw{
    background-color: blue;
    color: whitesmoke;
}

#geel{
    background-color: yellow;
}

#groen{
    background-color: springgreen;
}

#magenta{
    background-color: magenta;
}
